* {
color: #000000; 
background-color: transparent;
font-family:   "Times New Roman", Times, serif; 
font-size: 12pt;
 line-height: 140%;
 }
body {
margin: 0;
}
br{
	line-height: 10pt;
}
FIELDSET{
	border: 2px;
	border-style: solid;
   width: 95		%;
}
	 checkbox{
	width: 50px;
}
h1{
	font-size: 14pt;
	font-weight: bold;
}
h2{
	font-size: 13pt;
	font-weight: bold;
}
i{
	font-style: italic;
	font-weight: normal;
}
.gauche{
	text-align: right;
	font-weight: bold;
}
#titre, #titre_left, #titre_12 {
          margin : 10px;
			 background-color: Aqua;
			 padding: 10px;
			 font-size : 14pt;
          font-weight : bold;
          border-style : double; 
          border-width : 1px;
			 text-align: center;	
			 background-color: transparent;
      }
#titreadum {
          margin : 0px;
			 padding: 2px;
			 font-size : 12pt;
          font-weight : bold;
          border-style : double; 
			 border-color: #000000;
          border-width : 1px;
			 text-align: center;	
			 background-color: transparent;
      }
.titreadum2 {
margin : 0px;
padding: 2px;
font-size : 12pt;
font-weight : bold;
text-align: center;	
}			
#titreadum i{
	font-size: 8pt;
}		
		#titre_12{
			font-size: 12pt;
		}
#titre_left{
	 text-align: left;
}		
.text_taille8{
	font-size: 8pt;
}	
.text_taille9{
	font-size: 9pt;
}	
.text_taille10{
	font-size: 10pt;
}

#titre_right{
	 text-align: right;
	 font-size: 14pt;
}			
.titrept {
          margin : 10px;
			 padding: 10px;
			 font-size : 12pt;
          border-style : double; 
          border-width : 1px;
			 text-align: left;	
			 width: 80%;
			 background-color: transparent;
      }
th{
	 font-weight: bold;
	 text-align: center;
}
chiffre ol{
	list-style: decimal;
	list-style-type: decimal;
	
}
.text_pt{
	font-size: 10pt;
}
.text_ptt{
	font-size: 8pt;
}
.blocGris
{
 	margin: 0pt;
	border: 1px #D8D9C9 solid;
	background-color: #EFEFE8;
	padding: 10px;
	color: #75725f;
	}
input.checkbox, input.RADIO{
	width: 10px;

}	

#bordure{
	border: 1px;
   border-color: #000000;
	border-style: solid;
	padding: 1px;
	
	
}

#titreSimple{
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
}

#footer
{
	position:  absolute; 
	display: block;
	 font-size: 9pt;
	bottom: 0pt;
	text-align:left;
	width:100%
}
.cadreSimple{
	border: 1px solid #000000;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;	
	
}
