body {
color: #000000; 
background-color: transparent;
font-family: Arial, Helvetica, sans-serif;
font-size: 9pt;
line-height :150%;
}

 #body9{
 font-size: 10pt;	
 }
hr.point{
	border:0;
	border-bottom: 1px #000000 dotted;

}
hr.large{
	border:0;
	border-bottom: 3px #000000 solid;

}

#titre, #gros_titre {
          margin : 5px;
          border-style : double; 
          border-width : 1px;
			 font-size: 13pt;
			 text-align: center;	
			 background-color:   #DDDDDD;
      } 
#titre16
{
 margin : 5px;
 padding:10px;
 border-style : double;
border-width : 1px;
font-size: 16pt;
text-align: center;	
background-color:   #DDDDDD;
      }      
LEGEND{
	font-size: 12pt;
	font-weight: bold;
}
LEGEND.dixpt{
	font-size:10pt;
	font-weight: bold;
}
legend.encadre{
font-size:1em;
text-align:center;
font-size:bold;
border:1px solid #000;
}
i.dixpt{
	font-size:8pt;
}
#gros_titre{
	border-style: double;
}
h3{
font-size:11pt;
}		
.text_taille9{
	font-size: 9pt;
}	
.text_taille8{
	font-size: 8pt;
}	
.text_taille10_5{
	font-size: 10.5pt;
}
.text_taille11{
	font-size: 11pt;
}	
.text_taille11_u{
	font-size: 11pt;
	text-decoration:underline;	
}	
.text_taille12{
	font-size: 12pt;
}	
.text_taille12_u{
	font-size: 12pt;
	text-decoration:underline;
}
.text_taille12_b{
font-size: 12pt;
font-weight:bold;
}	
.text_taille13{
	font-size:13pt;
}	
.text_taille14{
	font-size:14pt;
}			
i{
    font-style: italic;
/*	  font-size: 8pt;*/
}
.uppercase{
text-transform:uppercase;
}
.text_taille26{
	font-size:26pt;
}	
.text_taille20{
	font-size:20pt;
}	
.text_taille16{
	font-size:16pt;
}	
.text_taille22{
	font-size:22pt;
}	
#titre_28{
	border: 1px;
   border-color: Black;
   border-style:   solid;
   text-align: center;
	background-color:   transparent;
	padding: 2px;
	font-size: 28pt;
}
#titre_20{
	border: 1px;
   border-color: Black;
   border-style:   solid;
   text-align: center;
   
	background-color:   transparent;
	padding: 2px;
	font-size: 20pt;
}
#titre_11{
	border: 1px;
   border-color: Black;
   border-style:   solid;
   text-align: center;
   font-weight:  bold;
	background-color:   transparent;
	padding: 2px;
	font-size: 11pt;
}
#titre_16{
	border: 1px;
   border-color: Black;
   border-style:   solid;
   text-align: center;
	background-color:   transparent;
	padding: 2px;
	font-size: 16pt;
}
.cadre, .cadre_gauche{
	border: 1px;
   border-color: Black;
	text-align: center;
   border-style:   solid;
	background-color:   transparent;
	padding: 2px;
}

.cadre_gauche{
	text-align: left;
	font-size: 12pt;
}
.pt_titre, .pt_titre_gauche{
	font-size: 12pt;
	text-decoration: underline;
	font-weight: bold;
}
.pt_titre{
		text-align: center;	
}
.pt_titre_gauche{
	text-align:  left;	
}
.rouge{
	color: Red;
}
.cadre_simple{
	border: 1px;
   border-color: Black;
   border-style:  solid;
	background-color:   transparent;
	margin-top: 10px;
}

#code{
	position:  relative;
	
	right: 0;
}
legend.nancy
{
font-size:12pt;
}
FIELDSET{
	 background-color:  transparent;
}                                 
ul li{
	font-size: 10pt;
}
table{
    border-collapse:collapse;
}
table tr td{
	font-size: 9pt;
}
table.10{
	font-size: 10.5pt;
}
/*hr{
	margin-bottom: -0px;
}*/
.pied_page{
	position: absolute;
	bottom: 0px;
	text-align:  center;
	width: 100%;
	font-size: 10pt;
	background-color: transparent;
}
.encadre{
margin-bottom:15px;
padding:3px;
font-size: 12pt;
font-weight: bold;
border:1px solid #000;
text-align:center;
}
.pagebreak {
   page-break-after:always;
}
.cachet
{
float:right;
width:7cm;
height:3cm;
border:1px solid #000;
margin-top:10px;
padding:10px;
}
.pre
{
white-space:pre;
}